{{!-- <ul class="nav">
    <div class="left">
    <li><img class="img" src='./facef.png' alt='img'></li>
    </div>
    <div class="space">
    <li><a class="nav" href="/">Home</a></li>
    </div>
    <div class="space">
    <li><a class="nav" href="./login">Login</a></li>
    </div>
    <div class="space">
    <li><a class="nav" href="./signUp">Sign Up</a></li>
    </div>
</ul> --}}

<nav>
<link to="/"><img class="img" src='./facef.png' alt='img'></link>
<ul class="nav">
    <li><a class="nav" href="/">Home</a></li>
    <li><a class="nav" href="./login">Login</a></li>
    <li><a class="nav" href="./signUp">Sign Up</a></li>
 
</ul>
</nav>