{{!-- <img class="img" src='./facef.png' alt='img'> --}}

<h2>Sign up</h2>

<h2>{{err}}</h2>

<form action='/' method='POST'>
    <label for='name'>Name:</label>
    <input class='box' id='name' type='text' name='name' placeholder='Name'>
    <label for='email'>Email:</label>
    <input id='email' type='email' name='email' placeholder='Email address'>
     <label for='password'>Password:</label>
    <input id= 'password' type= 'password' name= 'password' placeholder='Password'>
    <input id='submit' type='submit' value='Sign up'>
</form>